@page

@functions {
    public void Onget()
    {
        ViewData["Title"] = "Blog";
    }
}

@section Css{
    <link rel="stylesheet" href="/WebPages/css/blog.css" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
}
<!-- girl image -->
<section id="Hero">
    <div class="circle-image">
        <div class="circle"></div>
        <img class="paralax"
             src="/WebPages/images/blog-girl-removebg-preview.png"
             alt="Blog" />
    </div>
    <div class="container">
        <p>
            <a class="gold" href="index.html">Home</a> <span class="stick"> </span>
            <span>Blog</span>
        </p>
        <div class="content">
            <h1>Blog</h1>
            <div>
                <p>
                    As am hastily invited settled at limited civilly fortune me.
                    Really spring in extent an by. Judge but built party world. Of so
                    am he remember although required. Bachelor unpacked be advanced
                    at. Confined in declared marianne is vicinity.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- blog container -->
<div class="container overflow-hidden">
    <div class="row mx-lg-n5">
        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/christopher-campbell-28571-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">Pellentesque habitant morbi</a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347942-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Best books about Fashion
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347962-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Best books about Fashion
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/matheus-ferrero-334418-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Autumn fashion tips and tricks
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/photo-1534126511673-b6899657816a.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">Newest photo apps </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/rahul-anil-214671-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Best books about Photography
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347942-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Best books about Fashion
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/christopher-campbell-28571-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Pellentesque habitant morbi
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5" data-aos="zoom-in" data-aos-once="true">
            <div class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html">
                    <img class="img-fluid"
                         src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347962-unsplash.jpg"
                         alt="" />
                </a>
                <h5 class="mb-2">
                    <a class="text-dark" href="post.html">
                        Best books about Fashion
                    </a>
                </h5>
                <p class="text-gray-500 text-sm">
                    <a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019
                </p>
            </div>
        </div>
    </div>
    <nav aria-label="Blog pagination">
        <ul class="pagination justify-content-between mb-5">
            <li class="page-item">
                <a class="page-link" href="#" style="background-color: white; border: none; color: grey;">
                    <i class="fa fa-chevron-left mr-1"></i>Older posts
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" style="background-color: white; border: none;">
                    Newer posts <i class="fa fa-chevron-right ml-1"> </i>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section Scripts{
    <script src="/WebPages/javaScript/blog.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
}
