@page

@functions {
    public void Onget()
    {
        ViewData["Title"] = "Index";
    }
}

@section Css{
    <link rel="stylesheet" href="/WebPages/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
}

<svg id="10015.io"
     viewBox="0 0 480 480"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#e0d4ab"
          d="M418,299.5Q359,359,299.5,389Q240,419,169.5,400Q99,381,53,310.5Q7,240,52,168.5Q97,97,168.5,49Q240,1,317.5,43Q395,85,436,162.5Q477,240,418,299.5Z" />
</svg>

<!--Slide-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width: auto;">
    <div class="carousel-inner" style="width: auto;">
        <div class="carousel-item active" data-bs-interval="5000" style="width: auto;">
            <div class="slide-contend">
                <p>TIME IS ALMOST UP</p>
                <h1>Design clocks on sale</h1>
                <button class="slide-btn">START SHOPPING</button>
            </div>
            <div class="slide-image">
                <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/clock-transparent.png"
                     alt="..." />
                <svg id="10015.io"
                     viewBox="0 0 480 480"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path fill="#e7eaf9"
                          d="M398.5,327.5Q380,415,285.5,434.5Q191,454,115.5,395Q40,336,43.5,241.5Q47,147,117,77.5Q187,8,266,58Q345,108,381,174Q417,240,398.5,327.5Z" />
                </svg>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="slide-contend">
                <p>OUR ALL-TIME FAVOURITES</p>
                <h1>Black & White</h1>
                <p class="text">
                    The bedding was hardly able to cover it and seemed ready to slide
                    off any moment. His many legs, pit
                </p>
                <button class="slide-btn">DISCOVER MORE</button>
            </div>
            <div class="slide-image">
                <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair2-transparent.png" alt="..." />
                <svg id="10015.io"
                     viewBox="0 0 480 480"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path fill="#ffdddd" d="M393,321.5Q334,403,246.5,391.5Q159,380,83.5,310Q8,240,68.5,143.5Q129,47,234.5,57Q340,67,396,153.5Q452,240,393,321.5Z" />
                </svg>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide-contend">
                <p>OUR ALL-TIME FAVOURITES</p>
                <h1>BOXXEZ</h1>
                <p class="text">
                    The bedding was hardly able to cover it and seemed ready to slide
                    off any moment. His many legs, pit
                </p>
                <button class="slide-btn">DISCOVER MORE</button>
            </div>
            <div class="slide-image">
                <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/box-transparent.png"
                     alt="..." />
                <svg id="10015.io"
                     viewBox="0 0 480 480"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path fill="#f5e6a8"
                          d="M381.5,304Q368,368,304,410.5Q240,453,160,426.5Q80,400,56,320Q32,240,73.5,177.5Q115,115,177.5,61Q240,7,305.5,58Q371,109,383,174.5Q395,240,381.5,304Z" />
                </svg>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Shopping chair -->
<div class="container" style="top: 300px;">
    <div class="head">
        <h4>TOP CHOICES</h4>
        <h2>Popular this week</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="sale-products">
        <div class="products-row">
            <div class="product1">
                <img class="img-fluid"
                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/book-sq.jpg"
                     alt="" />
                <div>
                    <h2>
                        Furniture <br />
                        source <br />
                        book
                    </h2>
                    <p>39.90$</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
            <div class="product2">
                <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair-2-sq.jpg"
                     alt="" />
                <div>
                    <h2>Norwegg<br />design<br />chair</h2>
                    <p class="text-muted">$139.90</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="products-row">
            <div class="product3">
                <img src="	https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/clock-sq.jpg"
                     alt="" />
                <div>
                    <h2>Sunn<br />Clock</h2>
                    <p class="text-muted">$89.90</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
            <div class="product4">
                <img src="	https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/box-sq.jpg"
                     alt="" />
                <div>
                    <h2>Accessory<br />boxes</h2>
                    <p class="text-muted">$29.90</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="products-row">
            <div class="product5">
                <img src="	https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/clock2-sq.jpg"
                     alt="" />
                <div>
                    <h2>Swiss<br />Minutes<br />Black</h2>
                    <p class="text-muted">$149.90</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
            <div class="product6">
                <img src="	https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair3-3-sq.jpg"
                     alt="" />
                <div>
                    <h2>Korona<br />dining<br />room chair</h2>
                    <p class="text-muted">$149.90</p>
                    <p>
                        <a class="btn btn-link text-dark text-decoration-none px-0"
                           href="#">
                            Shop now
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- counter -->
<div class="counter-container">
    <svg id="10015.io"
         viewBox="0 0 480 480"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#c4e0f3"
              d="M421,302Q364,364,302,405Q240,446,207.5,375.5Q175,305,147,272.5Q119,240,127.5,188Q136,136,188,113Q240,90,287.5,117.5Q335,145,406.5,192.5Q478,240,421,302Z" />
    </svg>
    <div class="left-counter">
        <h5>DEAL OF THE WEEK</h5>
        <h1>Black and white Nordegg chairs</h1>
        <p><del>$129.00</del> $79.00</p>
        <button class="off-btn">$50 off</button>
        <div class="counter-div">
            <div class="day"></div>
            <div class="hour"></div>
            <div class="minute"></div>
            <div class="second"></div>
        </div>
        <button class="shop-btn">SHOP NOW</button>
    </div>
    <div class="right-counter">
        <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair2-transparent.png"
             alt="" />
    </div>
</div>

<!-- basket -->
<div class="basket-section">
    <div class="some-contend">
        <h1>New Arrivals</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
            hic animi vitae rerum quidem totam quo sunt non cupiditate. Laboriosam
            itaque accusantium in ad ex dolorum vitae vel? Repellat, tempore!
        </p>
    </div>
    <div class="basket-container-all">
        <div class="basket-navbar">
            <div class="basket-left-navbar">
                <a href="#">All Products</a>
                <a href="#">Chairs</a>
                <a href="#">Books</a>
                <a href="#">Clothes</a>
                <a href="#">Accessories</a>
            </div>
            <div class="basket-right-navbar">
                <a href="#">ALL PRODUCTS</a>
            </div>
        </div>
        <div class="product-container"></div>
        <div class="modal fade"
             id="exampleModal"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="left-modal">
                            <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg"
                                 alt="" />
                            <div class="swiper-thumbs" data-swiper="#quickViewSlider">
                                <img class="img-fluid"
                                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-1-gray.jpg"
                                     alt="Modern Jacket 0" />
                                <img class="img-fluid"
                                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-2-gray.jpg"
                                     alt="Modern Jacket 1" />
                                <img class="img-fluid"
                                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-3-gray.jpg"
                                     alt="Modern Jacket 2" />
                                <img class="img-fluid"
                                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-4-gray.jpg"
                                     alt="Modern Jacket 3" />
                                <img class="img-fluid"
                                     src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/detail-5-gray.jpg"
                                     alt="Modern Jacket 4" />
                            </div>
                        </div>
                        <div class="right-modal">
                            <div><h1>Push-up Jeans</h1></div>
                            <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                                <ul class="list-inline mb-2 mb-sm-0">
                                    <li class="list-inline-item h4 font-weight-light mb-0">
                                        $65.00
                                    </li>
                                    <li class="list-inline-item text-muted font-weight-light">
                                        <del>$90.00</del>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center text-sm">
                                    <ul class="list-inline mr-2 mb-0">
                                        <li class="list-inline-item mr-0">
                                            <i class="fa fa-star text-primary"></i>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <i class="fa fa-star text-primary"></i>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <i class="fa fa-star text-primary"></i>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <i class="fa fa-star text-primary"></i>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <i class="fa fa-star text-gray-300"></i>
                                        </li>
                                    </ul>
                                    <span class="text-muted text-uppercase">25 reviews</span>
                                </div>
                            </div>
                            <div>
                                <p class="mb-4 text-muted">
                                    Samsa was a travelling salesman - and above it there hung
                                    a picture that he had recently cut out of an illustrated
                                    magazine and housed in a nice, gilded frame.
                                </p>
                            </div>
                            <form id="buyForm_modal" action="#">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-12 detail-option mb-4">
                                        <h6 class="detail-option-heading">
                                            <strong>Size</strong> <span>(required)</span>
                                        </h6>
                                        <div class="dropdown bootstrap-select">
                                            <select class="selectpicker"
                                                    name="size"
                                                    data-style="btn-selectpicker"
                                                    tabindex="null">
                                                <option value="value_0">SMALL</option>
                                                <option value="value_1">MEDIUM</option>
                                                <option value="value_2">LARGE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-12 detail-option mb-5">
                                        <h6 class="detail-option-heading">
                                            <strong>Type</strong> <span>(required)</span>
                                        </h6>
                                        <label class="btn btn-sm btn-outline-primary detail-option-btn-label"
                                               for="material_0_modal">
                                            Hoodie
                                            <input class="input-invisible"
                                                   type="radio"
                                                   name="material"
                                                   value="value_0"
                                                   id="material_0_modal"
                                                   required="" />
                                        </label>
                                        <label class="btn btn-sm btn-outline-primary detail-option-btn-label"
                                               for="material_1_modal">
                                            College
                                            <input class="input-invisible"
                                                   type="radio"
                                                   name="material"
                                                   value="value_1"
                                                   id="material_1_modal"
                                                   required="" />
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group w-100 mb-4">
                                    <input class="form-control form-control-lg detail-quantity"
                                           name="items"
                                           type="number"
                                           value="1" />
                                    <div class="input-group-append flex-grow-1">
                                        <button class="btn btn-dark btn-block" type="submit">
                                            <i class="fa fa-shopping-cart mr-2"></i>Add to Cart
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <a href="#"
                                           style="text-decoration: none; color: #bcac76">
                                            <i class="far fa-heart mr-2"></i>Add to wishlist
                                        </a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-2">
                                                <a class="text-dark text-hover-primary" href="#">
                                                    <i class="fab fa-facebook-f"> </i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="text-dark text-hover-primary" href="#">
                                                    <i class="fab fa-twitter"> </i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <strong>Category:</strong>
                                        <a class="text-muted"
                                           href="#"
                                           style="text-decoration: none; color: grey">Jeans</a>
                                    </li>
                                    <li>
                                        <strong>Tags:</strong>
                                        <a class="text-muted"
                                           href="#"
                                           style="text-decoration: none; color: grey">Leisure</a>,
                                        <a class="text-muted"
                                           href="#"
                                           style="text-decoration: none; color: grey">Elegant</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 500px;"
             class="offcanvas offcanvas-end"
             data-bs-scroll="true"
             data-bs-backdrop="true"
             tabindex="-1"
             id="offcanvasScrolling"
             aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="basket-container"></div>
            </div>
            <div class="offcanvas-end"
                 style="
              box-shadow: 0px -7px 10px -6px rgba(193, 183, 183, 0.5);
              padding: 20px;
            ">
                <div class="price-div"
                     style="display: flex; justify-content: space-between">
                    <div class="left-price-contend"
                         style="font-size: 20px; font-weight: bold">
                        Subtotal:
                    </div>
                    <div class="right-price-contend"></div>
                </div>
                <div class="checkout-cart"
                     style="
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
                padding-top: 20px;
              ">
                    <button class="btn btn-outline-dark" style="width: 300px">
                        VIEW CART
                    </button>
                    <button class="btn btn-dark" style="width: 300px">
                        CHECKOUT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- summer sales -->
<div class="summer-sales">
    <svg class="svg-blob svg-blob-fill-current text-primary"
         style="
          width: 400px;
          height: 400px;
          max-width: 100%;
          left: -200px;
          top: -50px;
        ">
        <use xlink:href="#blob-shape"></use>
    </svg>
    <h1>Summer Sales</h1>
    <h3>Our biggest sales this year — up to 60% off!</h3>
    <button>START SHOPPING</button>
    <img src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/chair-transparent.png"
         alt="" />
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="/WebPages/javaScript/script.js" type="module"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
}
